body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

.confirmation-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.logout-btn {
    margin: 10px 10px;
    padding: 8px 16px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.confirmation-message h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.confirmation-message p {
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .confirmation-message {
        width: 80%;
        margin: 0 auto;
    }
}
