body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logout-btn {
    padding: 8px 16px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c0392b;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.route-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

label,
input {
    display: block;
    margin-bottom: 15px;
}

input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.route-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.route-btn:hover {
    background-color: #2980b9;
}

.routes-table {
    margin: auto;
    width: 70%;
}

.routes-table h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #3498db;
    color: #fff;
}

table td {
    background-color: #f9f9f9;
}

table tr:nth-child(even) td {
    background-color: #e9e9e9;
}

a.book-btn {
    display: inline-block;
    padding: 6px 12px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.book-btn:hover {
    background-color: #2980b9;
}
